﻿@model  WarwickTest.ViewModels.CustomerVM
@using Kendo.Mvc.UI

@{
    ViewBag.Title =@Model.Surname+" "+ @Model.Forename;

    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


  <div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="/customers" class="tip-bottom" data-original-title="">Customers</a>
		<a href="javascript:void(0);" class="tip-bottom" data-original-title="">@Model.Surname @Model.Forename</a>
		

	</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span-8">

     
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class=" icon-list"></i></span>
            <h5>User Information</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="activity-list">
              <li><a href="javascript:void(0);"> <i class="icon-tag"></i>Surname: <div class="pull-right"><strong>@Model.Surname</strong></div> </a></li>
              <li><a href="javascript:void(0);"> <i class="icon-tag"></i>Forname: <div class="pull-right"><strong>@Model.Forename</strong></div> </a></li>
              <li><a href="javascript:void(0);"> <i class="icon-envelope"></i>Address: <div class="pull-right"><strong>@Model.Address</strong></div> </a></li>
                <li><a href="javascript:void(0);"> <i class="icon-phone"></i>Post Code: <div class="pull-right"><strong>@Model.Postcode</strong></div> </a></li>
                <li><a href="javascript:void(0);"> <i class="icon-phone"></i>Notes: <div class="pull-right"><strong>@Model.Notes</strong></div> </a></li>
                    
            </ul>
          </div>
        </div>
      </div></div>
    <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class=" icon-list"></i></span>
            <h5>User Vehicles and Services</h5>
          </div>
          <div class="widget-content">
   @(Html.Kendo().Grid<WarwickTest.ViewModels.VehicleVM>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(e => e.Make).Width(110);
            columns.Bound(e => e.Model).Width(110);
            columns.Bound(e => e.Variation).Width(110);
            columns.Bound(e => e.Year).Width(110);
            columns.Bound(e => e.FuelType).Width(110);
            columns.Bound(e => e.Colour).Width(110);
            columns.Bound(a => a.ID).Title("Actions").ClientTemplate(
                         "<a href='Javascript:ServiceCreate(" + "#= ID #);'" + " class=\"k-button k-button-icontext \">Create Record</a>"
                        ).Filterable(false).Width(120);
                       
           
        })               
        .Sortable()
        .Pageable()
        .Scrollable()
        .ClientDetailTemplateId("template")
        .HtmlAttributes(new { style = "height:430px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(6)
            .Read(read => read.Action("UserVehicleListAjax", "Vehicle", new { id = @Model.ID }))            
        )        
        .Events(events => events.DataBound("dataBound"))
)
</div></div>
    @(Html.Kendo().Window().Name("CreateUpdateWindow")
		.Title("Add/Update Service Record")
		.Visible(false)
		.Modal(true)
		.Draggable(true)
		.Width(600)
		.Height(380)
	)
	
	<hr />

  </div>

@section js{
	
      <script type="text/x-kendo-template" id="template-update">
		
		<div id="createupdate-container">
			<h3>Edit Service Record</h3>
        <form Action="/services/edit/#= ID #"  id ="edit-service-form" name = "edit-service-form" method="POST">
			<div class="control-group">
				<label class="control-label">Mechanic Name</label>
				<div class="controls">
					<input type="text" name="MechanicName" id="MechanicName" value="#=MechanicName #" /> 
				</div>
			</div>
        <div class="control-group">
				<label class="control-label">Price</label>
				<div class="controls">
					<input type="text" name="Price" id="Price" value="#=Price #" /> 
				</div>
			</div>
        <div class="control-group">
				<label class="control-label">Notes</label>
				<div class="controls">
					<textarea name="Notes" id="Notes" >#=Notes #</textarea> 
				</div>
			</div>
	<div class="modal-footer">
				<input type="submit" id="btn-create" class="btn btn-danger" value="Edit" /> 
				<a href="javascript:void(0)" id="cancel-btn" class="btn">Cancel</a>
			</div>
			</form>
		</div>
	</script>
	<script type="text/x-kendo-template" id="template-create">
		
		<div id="createupdate-container">
			<h3>New Service Record</h3>
        <form Action="/services/create/#= VehicleID #"  id ="add-service-form" name = "add-service-form" method="POST">
			<div class="control-group">
				<label class="control-label">Mechanic Name</label>
				<div class="controls">
					<input type="text" name="MechanicName" id="MechanicName" /> 
				</div>
			</div>
        <div class="control-group">
				<label class="control-label">Price</label>
				<div class="controls">
					<input type="text" name="Price" id="Price" /> 
				</div>
			</div>
        <div class="control-group">
				<label class="control-label">Notes</label>
				<div class="controls">
					<textarea name="Notes" id="Notes" ></textarea> 
				</div>
			</div>
	<div class="modal-footer">
				<input type="submit" id="btn-create" class="btn btn-danger" value="Create" /> 
				<a href="javascript:void(0)" id="cancel-btn" class="btn">Cancel</a>
			</div>
			</form>
		</div>
	</script>

	<script type="text/javascript">

	    var wnd, wnd_createupdate;
	    var createupdateTemplate = kendo.template($("#template-create").html());
	    var updateTemplate = kendo.template($("#template-update").html());
	    function ServiceCreate(id) {

	        wnd_createupdate = $("#CreateUpdateWindow").data("kendoWindow");
	        wnd_createupdate.content(createupdateTemplate({ VehicleID: id }));

	        $("#btn-create").attr("value", "Create");

	        wnd_createupdate.center().open();
	        $('#add-service-form').submit(function(event) {
	           

	            event.preventDefault();
	            var data=$('#add-service-form').serialize();
	            var URL="/services/create/"+id;
	            $.ajax({
	                type: "POST",
	                url: URL,
	                data: data,
	                dataType: 'json',
	                success:function (json) {
	                    load(1,id); 
	                }
	            });
	            return false;
	        });
	    }  
	    $(document).ready(function () {

	        $("#cancel-btn").live("click", function (event) {
	            wnd_createupdate.close();
	            wnd.close();
	        });

	       

	        $(".k-grid-edit").live("click", function (e) {
	            e.preventDefault();
	            var id = parseInt($(e.target).data("id"));
	            
	            var i = "#grid_" + id;
	            var grid = $(i).data("kendoGrid");
	            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
	            wnd_createupdate = $("#CreateUpdateWindow").data("kendoWindow");
	            wnd_createupdate.content(updateTemplate(dataItem));

	            
	            // Prefill form
	            $("#btn-create").attr("value", "Save Changes");

	            wnd_createupdate.center().open();
	            $('#edit-service-form').submit(function (event) {


	                event.preventDefault();
	                var data = $('#edit-service-form').serialize();
	                var URL = "/services/edit/" + dataItem.ID;
	                $.ajax({
	                    type: "POST",
	                    url: URL,
	                    data: data,
	                    dataType: 'json',
	                    success: function (json) {
	                        load(1, id);
	                    }
	                });
	                return false;
	            });
	        });

	    });

	    function load(t,id) {

	        if (t == 1) wnd_createupdate.close();
	        else wnd.close();
	        var i = "#grid_" + id;
	        var grid = $(i).data("kendoGrid");
	        grid.dataSource.read();

	    }

	  

	</script>

        
<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<WarwickTest.ViewModels.ServiceVM>()
            .Name("grid_#=ID#")
            .Columns(columns =>
            {
                columns.Bound(o => o.ID).Width(70);
                columns.Bound(o => o.MechanicName).Width(70);
                columns.Bound(o => o.Price).Width(70);
                columns.Bound(o => o.Notes).Width(70);
                columns.Bound(o => o.ID).Title("Actions").ClientTemplate(
                        "<a href='Javascript:void(0);'" + "data-id='#=ID#' class=\"k-button k-button-icontext k-grid-edit\">Edit Record</a>"
                       ).Filterable(false).Width(120);
                
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("VehicleServicesListAjax", "Service", new { VehicleID = "#=ID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>}
    @section css{
	<link href="~/css/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/kendo.default.min.css" rel="stylesheet" />
}