﻿@model IEnumerable<WarwickTest.ViewModels.CustomerVM>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "View Customers | Warwick Test";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


  <div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="javascript:void(0);" class="tip-bottom" data-original-title="">Customers</a>
		

	</div>
	 <h1>Customers</h1>
  </div> 

  <div class="container-fluid">
	<hr />

	<div class="row-fluid">
		<div class="span-8">

		

		<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Customers Listing</h5>
			</div>
			<div class="widget-content nopadding">	

				@(Html.Kendo().Grid(Model)    
					.Name("Grid")
					.Columns(columns =>
					{
						columns.Bound(p => p.ID).Groupable(false).Width(80).Filterable(false);
                        columns.Bound(p => p.Name);
                        columns.Bound(p => p.Postcode);
						columns.Bound(a => a.ID).Title("Actions").ClientTemplate(
                         "<a href='customers/" + "#= ID #'" + " class=\"k-button k-button-icontext k-grid-edit\">View</a>"
						).Filterable(false).Width(80);
                       
							
                    })
					.Pageable()
					.Sortable()
					.Groupable()
					.Filterable()
					.Resizable(resize => resize.Columns(true))
					.DataSource(dataSource => dataSource
						.Ajax()
						.Read(read => read.Action("CustomerListAjax", "Customer"))
						.Model(model => model.Id(p => p.ID)) 
						.PageSize(20)
					)
				)

			</div>
		</div>
		</div>

	</div>
	
	
	<hr />

  </div>

@section js{


	}

  
@section css{
	<link href="~/css/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/kendo.default.min.css" rel="stylesheet" />
}



